<ion-header>
  <ion-toolbar>
    <ion-title>رفع الملفات</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button expand="block" (click)="testTakePhoto()">
    📷 التقاط صورة
  </ion-button>

  <ion-button expand="block" color="secondary" (click)="testChooseFromGallery()">
    🖼️ اختيار من المعرض
  </ion-button>

  <ion-button expand="block" color="tertiary" (click)="testPickDocuments()">
    📄 اختيار ملفات
  </ion-button>
<ion-button expand="block" color="warning" (click)="testPickVideo()">
  🎥 اختيار فيديو
</ion-button>
</ion-content>